*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', monospace;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #ebeef1;
    /* linear-gradient(135deg, #153677, #4e085f); */
    padding: 10px;
}



.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ebeef1;
    margin: 100px auto 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    
}

.todo-app h2{
    color: #ff5945;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    text-align: left;
    border-radius: 40px;
    outline: none;
    background: transparent;
    height: 60px;
    padding: 10px;
    font-weight: 14px;
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);

}

input::placeholder{
   /* padding-left: 30px; */
   opacity: 1;
   text-align: center;
}

input {
    text-align: center;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-moz-placeholder {
    text-align: center;
  }

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ebeef1;
    color: #555;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

button:hover{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ebeef1;
    color: #393434;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

ul li{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
   content: '';
   position: absolute;
   height: 28px;
   width: 28px;
   border-radius: 50%;
   background-image: url(./images/unchecked.png);
   background-size: cover;
   background-position: center;
   top: 12px;
   left: 8px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

ul li span:hover{
    background: #edeef0;
}

.icons a{
    text-decoration: none;
    /* padding-right: 20px; */
    padding-top: 10px; 
    cursor: pointer; 
    display: inline; 
    list-style: none;
    font-size: 25px; 
    color: #fff;
    /* text-align: center; */
  
}

.icons {
    text-decoration: none;
    padding-right: 20px;
    padding-top: 10px; 
    cursor: pointer; 
    display: inline; 
    list-style: none;
    font-size: 25px; 
    color: #fff;
    text-align: center;
  
}